@import "./globalVar.scss";
#root { display: flex; justify-content: center; align-items: center; }
body { min-height: 100vh; text-align: center; display: flex; justify-content: center; align-items: center; background: $background }